$top-bc-color: #a9180a;
$main-bc-color:#FF0036;
$product-title-color:#333;
$guess-title-color:#666;
$footer-title-color:#646464;
$fotter-cont-color:#8b8b8b;
$copyright-cont-color:#a4a4a4;
$copyright-alone:#686868;